/SistemaComercial_Apresentacao_Desktop/target/
/SistemaComercial.Apresentacao.Desktop/target/
/SistemaComercial.Persistencia/target/
/SistemaComercial.LogicaAplicacao/target/
/SistemaComercial.Apresentacao/target/
